<div class="container">
<h4 class="wolves-header">You have <%= @wolves.count %> wolves in your pack</h4>	
	<div>
		<% @wolves.each do |wolf| %>
		<div class="row">
			<div class="col s12">
				<div class="card white">
					<div class="card-content white-text">
							<div class="col s2">	
								<div class="card-image">
									<img src="<%= wolf.image_url %>" class="circle responsive-img">
								</div>
							</div>
						<span class="card-title">
						<a href="/wolves/<%= wolf.id %>"><%= wolf.name %></a></span>
						<span class="black-text"><p><%= wolf.description %></p></span>
					</div>
				</div>
			</div>
		</div>
		<% end %>
		<a class="waves-effect waves-light btn" href="/wolves/new">NEW PACK MEMBER</a>
	</div>
</div>